.SelectRoot,
.SelectItemHidden {
  display: none;
}

.SelectTrigger {
  width: 100%;
  border-width: 2px;
  border-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.375rem;
  column-gap: 0.375rem;
}

.SelectTrigger:data-[valid="invalid"] {
  border-color: rgb(239 68 68);
}

.SelectValue {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.SelectValueItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  column-gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.3rem 0.3rem;
  background-color: var(--neutral-700);
  color: var(--neutral-50);
}

.SelectValueItem:hover {
  background-color: var(--neutral-800);
  color: white;
}

.SelectContent {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-color: inherit;
  border-width: 2px;
  border-radius: 0.375rem;
  background-color: white;
  row-gap: 0.25rem;
  width: var(--radix-popover-trigger-width);
}

.SelectItem {
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 0.25rem;
  display: flex;
  column-gap: 0.5rem;
}
.SelectItem:hover {
  background-color: var(--neutral-200);
}

.SelectSearch {
  padding: 0.5rem 0.25rem;
  border-width: 2px;
  border-radius: 0.375rem;
  outline: none;
}
